@model WebApplication1.Models.Ksiazka

@{
    ViewData["Title"] = "Szczegóły Książki";
}

<h1>Szczegóły</h1>

<div>
    <h4>Książka</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Tytul)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Tytul)
        </dd>
        <dt class = "col-sm-2">
            Wydawnictwo
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Wydawnictwo.Nazwa)
        </dd>
    </dl>
</div>
<div class="mt-3">
    @if (User.Identity!.IsAuthenticated && Model.UserId?.ToString() == User.FindFirst(System.Security.Claims.ClaimTypes.NameIdentifier)?.Value)
    {
        <a asp-action="Edit" asp-route-id="@Model?.Id" class="btn btn-warning">Edytuj</a> @Html.Raw(" | ")
    }
    <a asp-action="Index" class="btn btn-secondary">Wróć do listy</a>
</div>